<div class="bg-info">
  <div class="row m-auto pt-3 justify-content-center">
    <app-worldmap class="col-8" (elemName)="factsheet.name = $event" (elemCapital)="factsheet.capitalCity = $event"
      (elemRegion)="factsheet.region = $event" (elemIncome)="factsheet.incomeLevel = $event"
      (elemLat)="factsheet.latitude = $event" (elemLong)="factsheet.longitude = $event"></app-worldmap>
    <app-factsheet-list class="col-3" [name]="factsheet.name" [capital]="factsheet.capitalCity"
      [region]="factsheet.region" [income]="factsheet.incomeLevel" [latitude]="factsheet.latitude"
      [longitude]="factsheet.longitude"></app-factsheet-list>
  </div>
</div>