<table class="table">
    <thead>
        <th>Country Facts</th>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Name:</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Capital City:</td>
            <td>{{capital}}</td>
        </tr>
        <tr>
            <td>Region:</td>
            <td>{{region}}</td>
        </tr>
        <tr>
            <td>Income Classification:</td>
            <td>{{income}}</td>
        </tr>
        <tr>
            <td>Latitude:</td>
            <td>{{latitude}}</td>
        </tr>
        <tr>
            <td>Longitude:</td>
            <td>{{longitude}}</td>
        </tr>
    </tbody>
</table>